<h1>Profiles#edit</h1>
<p>Find me in app/views/profiles/edit.html.erb</p>


<%= form_for @profile, { url: {controller: 'profiles', action: "update"} } do |f| %>
  <%= f.label :name  %>
  <%= f.text_field :name %><br>
  <%= f.label :about %>
  <%= f.text_field :about %><br>
  <%= f.submit %>
<% end %>
