<h1>Sign Up Homie!</h1>

<%= form_for @user do |f| %>
  <%= f.label :username  %>
  <%= f.text_field :username %><br>
  <%= f.label :password %>
  <%= f.text_field :password %><br>
  <%= f.submit %>
<% end %>
<p>Find me in app/views/users/new.html.erb</p>
