<!DOCTYPE html>
<html>
  <head>
    <title>HailDatinV3</title>

    



    <%= csrf_meta_tags %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style>
    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%%; }
    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }

    tr:nth-child(even) {
    background-color: #dddddd;
    }
    </style>

    <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>

  </head>

  <body>

    <% if current_user %>
    <p>Welcome, <%= current_user.username %> </p>
    <p><%= link_to "Logout", logout_url %></p>
    <% else %>
    <% link_to "Login", new_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
